@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(33, 25, 34);
  font-size: 12px;
}

#navbarBlock {
  background: #fff;
  height: 70px;
  width: 100%;
}
#navbarBlock article nav {
  background: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logoBlock {
  display: flex;
  flex-basis: 60%;
  justify-content: flex-start;
}
.menuBlock {
  display: flex;
  flex-basis: 40%;
  justify-content: flex-end;
  align-items: center;
}

.logoBlock svg {
  fill: #e60023;
}
.logoBlock h3 {
  color: #e60023;
  font-size: 20px;
  margin: 3px 6px;
}

.menuBlock ul {
  display: flex;
  list-style: none;
}

.menuBlock ul li a {
  padding: 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.authBlock ul li a {
  background-color: #efefef;
  border-radius: 35px;
  padding: 10px 17px;
  margin: 10px;
}
.authBlock ul li a.active {
  background-color: #e60023;
  color: #fff;
}
#galleryBlock{
  background: #efefef;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100vh;
  flex-direction:column ;
}
#galleryBlock article h2{
  padding: 10px;
  color:#e60023 ;
  font-weight: bold;
  text-shadow: 1px 0px 1px #e60023 ;
  border-bottom: 1px solid #e60023 ;
  margin: 10px;
}
#galleryBlock article form label{
  width: 100%;
  display: block;
  color: #999;
  font-weight: normal;
  padding: 10px 0;
}
#galleryBlock article form{
  width: 500px;
  padding:10px;
}
#galleryBlock article form input,
#galleryBlock article form textarea {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #eee;
  border-radius: 4px;
}

#galleryBlock article form button {
  background: #e60023;
  padding: 10px 20px;
  border: 1px solid #da223d;
  border-radius: 4px;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
}

#galleryBlock article form button:hover {
  background: #111;
  border: 1px solid #111;
}
#galleryData article{
  background-color: #fff;
  margin: 10px auto;
  display: flex;
}
#galleryData article img{
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}
/* grid */

.grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  grid-auto-flow: dense;

}

#galleryData article img,#galleryData article video{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.gallery_card{
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #efefef;
  opacity: 0.9;
}
.gallery_content h2{
  color: #e60023;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;

}
.gallery_content p{
  color: #0064e6;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;

}